<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link 
        href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" 
        rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body class="contact-page">
    <div class="nav-bar">
         <div class="logo">
            <img class="logo" src="{{ url_for('static', filename='assets/Logo.png')}}" alt="">
        </div>

        <ul class="nav-list">
            <li> <a href="{{ url_for('views.dashboard') }}"> <img class="btn" src="{{ url_for('static', filename='assets/Icon-home.png') }}" alt=""> </a> </li>
            <li> <a href="{{ url_for('views.profile') }}"> <img class="btn" src="{{ url_for('static', filename='assets/Icon-profile-white.png') }}" alt=""> </a> </li>
            <li> <a href="{{ url_for('views.contact') }}"> <img class="btn" src="{{ url_for('static', filename='assets/Icon-chat.png') }}" alt=""> </a> </li>
        </ul>
        <div class="logout">
            <a href="{{ url_for('auth.logout') }}"> <img class="btn" src="{{ url_for('static', filename='assets/Icon-logout.png') }}" alt=""> </a>
        </div>
    </div>
    <div>
        <form action={{ url_for('views.contact')}} method='POST' class="contact-form" id="contact-form">
            <label for="contact-name">Your Name:</label> <br>
            <input type="text" placeholder="Name" name="contact-name" id="contact-name" required /> <br>
            
            <label for="contact-email">Your Email:</label> <br>
            <input type="text" placeholder="Email Address" name="contact-email" id="contact-email" required /> <br>
            
            <label for="contact-company">Company:</label> <br>
            <input type="text" placeholder="Company" name="contact-company" id="contact-company" /> <br>
            
            <label for="contact-phone">Your Phone:</label> <br>
            <input type="text" placeholder="Phone Number" name="contact-phone" id="contact-phone" /> <br>
            
            <label for="contact-interest">Interested In:</label>
            <select name="contact-interest" id="contact-interest" required>
                <option value="feedback">Give Feedback</option>
                <option value="opportunity">Opportunity</option>
                <option value="generic">Anything Else</option>
            <br>
            <label for="contact-message">Message</label> <br>
            <textarea  name="contact-message" id="contact-message" required rows="10" cols="30" ></textarea> <br>
            
            <button type="submit" class="send">Send</button>
          </form>
    </div>
</body>

</html>