<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link 
        href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" 
        rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body class="logged-in-dashboard">
    <div class="nav-bar">
         <div class="logo">
            <img class="logo" src="{{ url_for('static', filename='assets/Logo.png')}}" alt="">
        </div>

        <ul class="nav-list">
            <li> <a href="{{ url_for('views.dashboard') }}"> <img class="btn" src="{{ url_for('static', filename='assets/Icon-home.png') }}" alt=""> </a> </li>
            <li> <a href="{{ url_for('views.profile') }}"> <img class="btn" src="{{ url_for('static', filename='assets/Icon-profile-white.png') }}" alt=""> </a> </li>
            <li> <a href="{{ url_for('views.contact') }}"> <img class="btn" src="{{ url_for('static', filename='assets/Icon-chat.png') }}" alt=""> </a> </li>
        </ul>
        <div class="logout">
            <a href="{{ url_for('auth.logout') }}"> <img class="btn" src="{{ url_for('static', filename='assets/Icon-logout.png') }}" alt=""> </a>
        </div>
    </div> 
    <div>
        <strong>Change Password</strong><br>
        <form action={{ url_for('auth.change_password') }} method='POST' class="change-password" id="change-password">
            <label for="current-password">Current Password:</label> <br>
            <input type="password" placeholder="Current Password" name="current-password" id="current-password" required /> <br>

            <label for="new-password">New Password:</label> <br>
            <input type="password" placeholder="New Password" name="new-password" id="new-password" required /> <br>

            <label for="confirm-new-password">Confirm New Password:</label> <br>
            <input type="password" placeholder="Confirm New Password" name="confirm-new-password" id="confirm-new-password" required /> <br>

            <button type="submit" class="send">Change Password</button>
          </form>
    </div>
    <br>
    <div>
        <form action={{ url_for('auth.delete_user') }} class="delete-account" id="delete-account" method="POST">
            <strong>Delete Account</strong><br>
            <label for="delete-text">Type 'DELETE'</label> <br>
            <input type="text" placeholder="Type Delete" name="delete-text" id="delete-text" required /> <br>
            <button type="submit" class="delete">Delete</button>
          </form>
    </div>

</body>

</html>