<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link 
        href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" 
        rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    
    <form action={{ url_for('views.dashboard') }} method='GET'> 
        <button type="submit">HOME</button>
    </form>

    <br>

    <form action={{ url_for('views.search') }} method='POST'>
        <input type="text" placeholder="Job Title" name="job_title">
        <input type="text" placeholder="Location" name="location">
        <input type="submit" value="Search">
    </form>

    <br>

    <section>

        {% if request.method=='POST' %}
        {% for job in jobs %}

            <div class="job-card">
                <strong> {{ job['title'] }} </strong><br>
                Company: {{ job['company'] }} <br>
                Location: {{ job['location'] }} <br>
                Salary: {{ job['salary'] }} <br>
                Summary: {{ job['summary'] }} <br>
                <br>
            </div>
            <div class="save-container">
                <form action={{ url_for('views.save_job') }} method="POST">
                    <br>
                    <br>
                    <br>
                    <input type="hidden" name="job-title" value="{{job['title']}}">
                    <input type="hidden" name="company" value="{{job['company']}}">
                    <input type="hidden" name="location" value="{{job['location']}}">
                    <input type="hidden" name="salary" value="{{job['salary']}}">
                    <input type="hidden" name="summary" value="{{job['summary']}}">
                    <input type="submit" value="SAVE" class="save-button"> <br>
                    <br>
                    <br>
                </form>
            </div>

        {% endfor %}
        {% endif %}

    </section>
    

</body>

</html>