.job-container {
  margin: 10px 20px 10px 15px;
  display: flex;
  flex-direction: row;
  width: 90%;
  color: #3d63e2;
  font-size: 1rem;
  line-height: 1.5rem;
}

.save-container {
  align-self: center;
  padding: 20px;
}

.save-button {
  font-weight: 500;
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  justify-self: center !important;
  border-radius: 25px;
  border: none;
  color: white;
  background-image: linear-gradient(315deg, #00d3d8, #3d63e2, #3523b6);
}

@media screen and (max-width: 768px) {
  .job-container {
    flex-direction: column !important;
    display: block;
  }
}
