* {
  box-sizing: border-box;
}

body,
html,
#root {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
  height: 100%;
  width: 100%;
}
.screen {
  height: 100%;
  flex-wrap: unset;
  display: flex;
}

.nav {
  width: 5rem;
  min-height: 100%;
  background: #2f4067;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.component-container {
  flex-grow: 1;
  background: #eaeaea;
  overflow-y: scroll;
}

@import "./navbar.scss";
@import "./dashboard.scss";
@import "./jobcard.scss";
@import "./search";
@import "./contact";
@import "./profile";
